.dv{
	text-align:center;
	margin-top:4vw;
}
span{
	color:red;
	font-size:1.6vw;
}
.la{
	font-size:1.6vw;
}
.lah{
	font-size:2.5vw;
}
.tab{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vw;
	background-color:cyan;
	width:50%;
}
.tb{
	font-size:1.6vw;
	border-radius: .5vw;
	width:100%;
}
.bt{
	font-size:1.6vw;
	background-color:#008CAB;
	color:white;
	border:none;
	padding:.2vw 1.4vw;
	cursor:pointer;
}
.hm
{
	font-size:3.5vw;
	background-color:#989c9a;
	color:black;
	display:block;
	width:95%;
	margin-right:auto;
	margin-left:auto;
}